# Data / outputs
/data/**
!/data/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv-*/
.env
.dist/
build/
dist/
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
